.heading {
    color: #e4e4f0;
}

.heading.selected {
    color: rgb(33, 33, 33);
}

p {
    margin: 20px 0px 8px 0px;
}

.mood-buttons-wrapper {
    width: 1200px;
    max-width: 80vw;
    min-width: 900px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.mood-button, .reset-button {
    color: #e4e4f0;
    background-color: #22222A;
    border: 3px white solid;
    border-radius: 40px;
    padding: 1em 2.5em;
    font-size: 1.2rem;

    transform: scale(1);
    transition: border-radius 0.25s ease;
    display: inline-block;
}

.happy-btn {
    color: #FFCC26;
    border: 3px #FFCC26 solid;
}

.sad-btn {
    color: #5563FF;
    border: 3px #5563FF solid;
}

.excited-btn {
    color: #FF008C;
    border: 3px #FF008C solid;
}

.tired-btn {
    color: #BC27BA;
    border: 3px #BC27BA solid;
}

.reset-button {
    margin: auto;
    margin-top: 50px;
}

.mood-button.selected, .reset-button.selected {
    color: white;
    border: 3px #22222A solid;
    background-color: #22222A;
}

.mood-button:hover, .reset-button:hover {
    cursor: pointer;
    border-radius: 15px;
}

.mood-text {
    display: inline-block;
    transform: scale(1) !important;
}